@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Sizing --- */

.pimary-btn{
  @apply bg-910 text-white rounded-xl shadow-3xl;
}
.secondary-btn{
  @apply bg-white text-910 rounded-xl shadow-3xl;
}
.inner{
  @apply w-99 h-99 rounded-full absolute blur-xs ;
}
.sub-heading {
  @apply text-5xl font-Grotesque leading-extra-loose font-semibold;
}
.card-heading{
  @apply text-white font-bold w-40 text-xl pb-4
}
.container{
  width: 1236px;
  margin: 0 auto;
}
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
