@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}


/* --- Sizing --- */
.pimary-btn{
  @apply bg-primary text-white rounded-xl shadow-3xl;
}
.secondary-btn{
  @apply bg-white text-primary rounded-xl shadow-3xl;
}
.inner{
  @apply w-99 h-99 rounded-full absolute blur-xs ;
}
.sub-heading {
  @apply text-5xl font-Grotesque leading-extra-loose font-semibold;
}
.card-heading{
  @apply text-white font-bold w-40 text-xl pb-4
}
.container{
  @apply w-[1236px] my-0 mx-auto 
}
